.left-side-area{
    width: 20%;
    background-color: #fff;
    // height: 100vh;
    position: fixed;
    left: 0;
    overflow: auto;
    .header-left-area{
        width: 100%;
        position: relative;
        z-index: 9;
        min-height: 100vh;
        display: block;
        
        .navbar{
            min-height: 100vh;
            width: 100%;
            display: block;
            position: relative;
            padding: 0;
            align-items: center;
            justify-content: center;
            .header-content{
                width: 100%;
                text-align: center;
                padding: 15px;
                padding-bottom: 30px;
                padding-top: 30px;
                .image-item{
                    margin: 0 auto;
                    position: relative;
                    height: 120px;
                    width: 120px;
                    margin-bottom: 10px;
                    img{
                        height: 120px;
                        width: 120px;
                        border-radius: 100px;
                        overflow: hidden;
                        border: 2px solid rgb(0, 0, 0);
                        display: block;
                    }
                }
                .introduccion{
                    .name{
                        font-weight: 600;
                    }
                    p{
                        font-weight: 500;
                        color: rgb(33, 144, 181);
                    }
                }
            }
            .menu-side{
                display: block;
                
                ul{
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    padding-left: 0;
                    margin-bottom: 0;
                    list-style: none;
                    li{
                        border-left: 2px solid rgb(86, 175, 205);
                        margin-bottom: 10px;
                        padding-left: 0;
                        &:hover{
                            color: rgb(86, 175, 205);
                        }
                        a{
                            text-decoration: none;
                            font-weight: 500;
                            font-size: 16px;
                            position: relative;
                            color: #242732;
                            line-height: 45px;
                            display: block;
                            padding: 0 0 0 44px;
                            transition: all 500ms;
                            &:hover{
                                color: rgb(86, 175, 205);
                                font-size: 24px;
                                transition: all 300ms;
                            }
                            span{
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
        .social-media{
            list-style: none;
            margin-top: 50px;
            padding: 0;
            text-align: center;
            display: block;
            margin-bottom: 10px;
            li{
                display: inline-block;
                padding: 0 10px;
                a{
                    color: #000;
                    font-size: 1.7rem;
                    transition: all 300ms;
                    &:hover{
                        color: rgb(86, 175, 205);
                        transition: all 300ms;
                    }
                }
            }
        }
        h6{
            text-align: center;
        }
    }
}
.right-side-area{
    width: 80%;
    overflow: hidden;
    position: relative;
    float: right;
    .home{
        min-height: 100vh;
        min-height: 600px;
        background-image: url(../img/bg3.jpg);
        background-size: cover;
        overflow: hidden;
        position: relative;
        z-index: 2;
        .home-content{
            color: rgb(0, 0, 0);
            margin-top: -30vh;
            
            h5{
                margin-bottom: 10px;
                font-size: 22px;
                span{
                    background: #0c0b0b;
                    padding: 6px 10px;
                    font-size: 18px;
                    color: #fff;
                }
            }
            h1{
                font-weight: 700;
                font-size: 50px;
                margin-bottom: 40px;
                .little-front-end{
                    margin-top: 9px;
                    font-size: 20px;
                }
            }
            p{
                font-weight: 500;
                font-size: 18px;
                line-height: 14px;
            }

            .buttons{
                a{
                    margin: 0 5px;
                }
                .btn-primary{
                    border: none;
                    background-color: rgb(90, 203, 240);
                    &:hover{
                        background-color: rgba(70, 185, 251, 0.825);
                    }
                    &:active{
                        color: rgb(59, 198, 245);
                        background-color: #fff;
                    }
                }
                .btn-outline-primary{
                    color: rgb(90, 203, 240);
                    border: 1px solid rgb(90, 203, 240);
                    &:hover{
                        color: #fff;
                        background-color: rgb(79, 176, 208);
                    }
                    &:active{
                        color: rgb(58, 157, 190);
                        background-color: #fff;
                    }
                }
            }
        }
    } 
    .about-area{
        position: relative;
        overflow: hidden;
        

                .about-text{
                    h3{
                    margin-bottom: 10px;
                    font-size: 40px;
                    span{
                        background-color: #242732;
                        color: #fff;
                        padding: 2px 5px;
                    }
                }
                div{
                    margin-bottom: 20px;
                }
                
        }
    }
    .tech-area{
        
        margin-left: 10px;
        margin-right: 10px;
        h3{
            color: #fff;
            background-color: #242732;
            width: fit-content;
            padding: 5px;
        }
        .icono{
            width: 110px;
            align-items: center;
            padding: 10px;
            text-align: center;
            i{
                font-size: 80px;
                padding: 5px;
            }
            .borderIcon {
                border-bottom: 3px solid rgb(33, 144, 181);
            }
        }
    }
    .services-area{
        background-size: 300px;
        background-image: url(../img/services.png);

        background-repeat: no-repeat;
        background-position: center;
        h3{
            color: #fff;
            background-color: #242732;
            margin: auto;
            padding: 5px;
            width: fit-content;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 10px;
            font-size: 18px;
        }
        .servicio{
            border-radius: 50px;
            background: #e0e0e0;
            max-width: 200px;
            width: fit-content;
            margin-top: 20px;
            margin-bottom: 20px;
            height: fit-content;
            padding: 0;
            padding: 25px;
            line-height: 1.5rem;
            box-shadow:  21px 21px 42px #bebebe,
                         -21px -21px 42px #ffffff;
                        
            span{
                font-size: 40px;
                color: rgb(33, 144, 181);
            }
            h6{
                margin-top: 10px;
            }
            
        }
    }
    .portfolio-area{
        padding-top: 40px;
        h3{
            color: #fff;
            display: inline-block;
            background-color: #242732;
            
        }
        p{
            font-size: 18px;
        }
        .card{
            position: relative;
            width: 350px;
            height: 330px;
            margin: 20px;
            &:hover .front{
                transform: perspective(600px) rotateY(180deg);
            }
            &:hover .back{
                transform: perspective(600px) rotateY(360deg);
            }
            .face{
                position: absolute;
                width: 100%;
                height: 100%;
                overflow: hidden;
                backface-visibility: hidden;
                transition: .1s;
            }
            .front{
                transform: perspective(600px) rotateY(0deg);
                img{
                    position: absolute;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                h3{
                    width: 100%;
                    color: rgb(0, 0, 0);
                    position: absolute;
                    bottom: 0;
                    margin: 0;
                    height: 45px;
                    line-height: 45px;
                    background-color: rgba(#ffffff, 0.5);
                    text-align: center;
                }
            }
            .back{
                transform: perspective(600px) rotateY(180deg);
                background-color: #242732;
                padding: 15px;
                color: #f3f3f3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;

                .link{
                    border-top: solid 1px #f3f3f3;
                    height: 50px;
                    line-height: 50px;
                    a{
                        color: #f3f3f3;
                        text-decoration: none;
                    }
                }
                h3{
                    font-size: 30px;
                    margin-top: 20px;
                    letter-spacing: 2px;
                    color: rgb(250, 250, 250);
                }
                p{
                    letter-spacing: 1px;
                }
                
            }
        }
    }
    .contact-area{
        background-image: url(../img/contact.png);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 50vh;
        min-height: 100vh;
        .container{
            padding-top: 100px;
            padding-bottom: 100px;
            .titulo{
                margin-bottom: 40px;
                h3{
                    color: #fff;
                    padding: 5px;
                    background-color: #242732;
                    display: inline-block;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 18px;
                }
            }
            input,
            textarea{
                border-color: rgb(0, 0, 0);
            }
            .btn{
                margin-top: 20px;
            }
        }
        .iconos{
            margin-top: 50px;
            span{
                font-size: 40px;
                color: rgb(33, 144, 181)
            }
            a{
                text-decoration: none;
                color: #242732
            }
        }
    }
}

@media (max-width: 991px) {
    .left-side-area {
      display: none;
    }
    .footer{
        display: block;
        background-color: rgb(102, 205, 239);
    }
    .right-side-area {
        .home{
            background-position: center;
        }
        width: 100%;
        .tech-area{
            min-height: 1000px;
        }
        .services-area{
            background-image: none;
        }
    }
  }

  @media (min-width: 991px) {
    .footer {
        display: none;
    }
  }

  @media (max-width: 575px) {
    .tecnologias {
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
        min-width: 400px;
        max-height: 600px;
    }
    .right-side-area{
        .contact-area{
            background-size: 150px;
        }
    }
  }